.navbar-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 10vw;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
}


@media screen and (max-width: 1024px){
      .navbar-container{
            padding: 0.5rem 5vw;
      }
}

@media screen and (max-width: 768px){
      .navbar-container{
            padding: 0.5rem 2.5vw;
      }
}

.search-container{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
}